workflow-chatbot-telegram.json
{
  "name": "Telegram Weather (Simple)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b839032f-590a-445c-99de-31522e1541f5",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        656
      ],
      "webhookId": "__REDACTED_WEBHOOK_ID__",
      "credentials": {
        "telegramApi": {
          "id": "__REDACTED_CREDENTIAL_ID__",
          "name": "__REDACTED_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d124894-0eb7-4ae2-aa7b-cd3013e8ea65",
              "name": "queue",
              "value": "={{ (() => {\n  const text = ($json.message.text || '').trim().replace(/\\s*,\\s*/g, ',');\n  const parts = text.split(',');\n\n  if (parts.length === 2 && parts[1].length === 2) return `${parts[0]},BR`;\n  if (parts.length === 1 && parts[0]) return `${parts[0]},BR`;\n\n  return text;\n})() }}",
              "type": "string"
            },
            {
              "id": "d8611f60-ded3-458f-8865-42a9ec793693",
              "name": "=chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "69961857-dc82-478f-912b-77dce3fe2442",
      "name": "Set (queue + chat_id)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        656
      ]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $node[\"Set (queue + chat_id)\"].json.queue }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            },
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "8bc2a125-57c9-4c20-9509-d187a5f7c337",
      "name": "OpenWeather HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aefed67a-6c36-45a1-b533-0ffc63b21472",
              "leftValue": "={{ String($json.cod) }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "id": "23afd55b-9d9c-4d0d-8985-69ed92f611f6",
      "name": "IF (OK?)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        656
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node['Set (queue + chat_id)'].json.chat_id }}",
        "text": "={{ `🌤️ A temperatura em ${$json.name} é de ${Math.round($json.main.temp)}°C.` }}",
        "additionalFields": {}
      },
      "id": "0d28ad00-f086-4b53-a75f-e35d4f975704",
      "name": "Telegram Send (Success)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        560
      ],
      "webhookId": "__REDACTED_WEBHOOK_ID__",
      "credentials": {
        "telegramApi": {
          "id": "__REDACTED_CREDENTIAL_ID__",
          "name": "__REDACTED_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node['Set (queue + chat_id)'].json.chat_id }}",
        "text": "❌ Cidade não encontrada. Use o formato Cidade, UF (ex.: Cuiaba, MT).",
        "additionalFields": {}
      },
      "id": "422e4e0a-55c3-4a5c-a684-5074a4c32356",
      "name": "Telegram Send (Error)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        752
      ],
      "webhookId": "__REDACTED_WEBHOOK_ID__",
      "credentials": {
        "telegramApi": {
          "id": "__REDACTED_CREDENTIAL_ID__",
          "name": "__REDACTED_CREDENTIAL_NAME__"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Set (queue + chat_id)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set (queue + chat_id)": {
      "main": [
        [
          {
            "node": "OpenWeather HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeather HTTP": {
      "main": [
        [
          {
            "node": "IF (OK?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (OK?)": {
      "main": [
        [
          {
            "node": "Telegram Send (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Send (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "__REDACTED_VERSION_ID__",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "__REDACTED_INSTANCE_ID__"
  },
  "id": "__REDACTED_WORKFLOW_ID__",
  "tags": []
}
